.all{
    width:100%;
    height:1080px;
    background: url(../images/back.png) no-repeat 0 222px;
    overflow: hidden;
}

.all .index_back{
    display:block;
    margin:0 auto;
    width:106px;
    height:40px;
    margin-top:140px;
}

.all .index_back img{
    display:block;
    width:100%;
    height:100%;
}

.all .login_con{
    width:420px;
    height:480px;
    background:#ffffff;
    border-radius: 10px;
    box-shadow: 1px 10px 44px 2px #d9f2fc;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:170px;
    overflow: hidden;
}
.all .login_con span{
    display:block;
    font-size:30px;
    color:#333333;
    margin-top:80px;
    margin-bottom:20px;
    text-align: center;
}

.all .login_con input{
    display:block;
    width:285px;
    height:46px;
    margin:0 auto;
    border-radius:4px;
    border:1px solid #e5e5e5;
    margin-top:20px;
    padding-left:20px;
    color:#333333;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#bbbbbb;font-size:14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#bbbbbb;font-size:14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#bbbbbb;font-size:14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#bbbbbb;font-size:14px;
}













.agree_jump{
    margin-top:74px;
}

.jump_index{
    display:block;
    margin:0 auto;
    width:300px;
    height:46px;
    border-radius:4px;
    background:#00a5ea;
    color:#ffffff;
    font-size:18px;
    margin-top:14px;
    text-align: center;
    line-height: 46px;
}

.login_con ul{
    width:300px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.login_con ul li a{
    display:block;
    color:#bbbbbb;
    font-size:14px;
}

.go_login{
    width:300px;
    display:block;
    color:#bbbbbb;
    font-size:14px;
    margin:0 auto;
    margin-top:20px;
}


.tip{
    display:block;
    width:300px;
    margin:0 auto;
    font-size: 14px;
    color:#666666;
}

.agree{
    width:300px;
    margin:0 auto;
    text-align: center;
    font-size:14px;
    color:#bbbbbb;
}
.agree i{
    font-size:14px;
    color: #00a5ea;
}














